body
{
	font-family: 'Calibri';
	font-size: 16px;
	text-align: justify;
	word-wrap: break-word;
	color: #555;

	/* J'ai appliqué une opacité de 90 % combinée à la couleur blanche sur la couleur #3770B1. */
	background-color: #EBF0F7; 
}

br 
{
	line-height: 1;
}