{% extends 'template.html' %}
{% load static %}

{% block content %}
<script>

$(document).ready(function () {
	function exportTableToCSV($table, filename) {
		var $rows = $table.find('tr:has(td),tr:has(th)'),
			// Temporary delimiter characters unlikely to be typed by keyboard
			// This is to avoid accidentally splitting the actual contents
			tmpColDelim = String.fromCharCode(11), // vertical tab character
			tmpRowDelim = String.fromCharCode(0), // null character

			// actual delimiter characters for CSV format
			colDelim = '","',
			rowDelim = '"\r\n"',

			// Grab text from table into CSV formatted string
			csv = '"' + $rows.map(function (i, row) {
				var $row = $(row), $cols = $row.find('td,th');

				return $cols.map(function (j, col) {
					var $col = $(col), text = $col.text();
					return text.replace(/"/g, '""'); // escape double quotes
				}).get().join(tmpColDelim);

			}).get().join(tmpRowDelim)
				.split(tmpRowDelim).join(rowDelim)
				.split(tmpColDelim).join(colDelim) + '"',

			// Data URI
			csvData = 'data:application/csv;charset=windows-1252,' + encodeURIComponent(csv);

			if (window.navigator.msSaveBlob) { // IE 10+
				//alert('IE' + csv);
				window.navigator.msSaveOrOpenBlob(new Blob([csv], {type: "text/plain;charset=windows-1252;"}), "avancement_programme.csv")
			}
			else {
				$(this).attr({ 'download': filename, 'href': csvData, 'target': '_blank' });
			}
	}

	// This must be a hyperlink
	$("#t_avancement").on('click', function (event) {

		exportTableToCSV.apply(this, [$('#avancementProg'), 'avancement_programme.csv']);
		// IF CSV, don't do event.preventDefault() or return false
		// We actually need this to be a typical hyperlink
	});
});

</script>

<div class="main-title">Réalisation d'états - État d'avancement d'un programme</div>
<div class="row">
	<div class="br-md-after col-md-4">
		<form action="" method="post" name="form">
			{% csrf_token %}
			<fieldset class="my-fieldset">
				<legend>Rechercher par</legend>
				<div class="field-wrapper" id="fw_AvancementProgramme-id_progr">
					<span class="field-label">Programme</span>
					<span class="field-control">
						<select id="id_AvancementProgramme-id_progr" name="AvancementProgramme-id_progr" onchange="filterAxe()">
							<option value="all" selected="selected">---------</option>
							{% for programme in programmes %}
								<option value="{{ programme.id_progr }}">{{ programme.int_progr }}</option>
							{% endfor %}
						</select>
					</span>
					<span class="field-error"></span><br>
					<div class="field-wrapper" id="fw_AvancementProgramme-cbsm_org_moa">
						<span class="field-label">Maître(s) d'ouvrage(s)</span>
						<div class="my-table" id="t_AvancementProgramme-cbsm_org_moa">
							<table id="id_AvancementProgramme-cbsm_org_moa">
								<thead>
									<tr>
										<th>Nom</th>
										<th>
											<input id="id_AvancementProgramme-cbsm_org_moa__all" value="__all__" type="checkbox">
										</th>
									</tr>
								</thead>
								<tbody>
									{% for row in org_moas %}
									<tr>
										<td>{{ row.id_org_moa_id }} - {{ row.dim_org_moa|default:"N/A" }}</td>
										<td><input id="id_AvancementProgramme-cbsm_org_moa_"+"{{row.id_org_moa_id}}"
											name="AvancementProgramme-cbsm_org_moa"+"{{row.id_org_moa_id}}" value="{{row.id_org_moa_id}}" type="checkbox"></td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						<span class="field-error"></span>
					</div>
					<div class="field-wrapper hide" id="fw_AvancementProgramme-zl_axe" style="display: block;">
						<span class="field-label">Axe</span>
						<span class="field-control">
							<select id="id_AvancementProgramme-zl_axe" name="AvancementProgramme-zl_axe">
								<option value="all" id_progr="all" selected="selected">---------</option>
								{% for axe in axes %}
								<option value="{{ axe.num_axe }}" id_progr="{{ axe.id_progr }}" intit="{{ axe.int_axe }}">{{ axe.num_axe }} - {{ axe.int_axe }}</option>
								{% endfor %}
								</option>
							</select>
						</span>
						<span class="field-error"></span>
					</div><br>
					<button type="submit" class="center-block green-btn my-btn">Valider</button>
				</div>
			</fieldset>
		</form>
	</div>
	<div class="col-md-8">
		<!--<a href="#" id="t_avancement" class="csv-icon icon-link">Exporter au format CSV</a>-->
		<div class="my-table" id="t_select_doss">
			<table id=avancementProg>
				<thead>
					<tr>
					{% for label in v_progs_detailles_complet_keys %}
						<th>{{ label }}</th>
					{% endfor %}
					</tr>
				</thead>
				<tbody>
				{% for row in v_progs_detailles_complet %}
					<tr>
						{% for key, value in row.items %}
							<td>{{ value|default:None }}</td>
						{% endfor %}
					</tr>
				{% endfor %}
				</tbody>
				<tfoot></tfoot>
			</table>
		</div>
		<br />
	</div>
</div>
{% endblock content %}
