{% extends 'template.html' %}
{% load static %}

{% block content %}
<div class="main-title">Réalisation d'états en sélectionnant des dossiers</div>
<div class="row">
	<div class="br-md-after col-md-4">
		<form action="" method="post" name="f_select_doss">
			{% csrf_token %}
			<fieldset class="my-fieldset">
				<legend>Rechercher par</legend>
				<div>
					{{ f_select_doss.cbsm_org_moa }}
					{{ f_select_doss.zl_progr }}
					{{ f_select_doss.zl_axe }}
					{{ f_select_doss.zl_ss_axe }}
					{{ f_select_doss.zl_act }}
					{{ f_select_doss.zl_nat_doss }}
					Période de délibération au maître d'ouvrage
					<div class="row">
						<div class="col-xs-6">{{ f_select_doss.zd_dt_deb_delib_moa_doss }}</div>
						<div class="col-xs-6">{{ f_select_doss.zd_dt_fin_delib_moa_doss }}</div>
					</div>
					{{ f_select_doss.zl_av_cp }}
					Période de l'avis du comité de programmation - CD GEMAPI
					<div class="row">
						<div class="col-xs-6">{{ f_select_doss.zd_dt_deb_av_cp_doss }}</div>
						<div class="col-xs-6">{{ f_select_doss.zd_dt_fin_av_cp_doss }}</div>
					</div>
					Montant du dossier présenté au CD GEMAPI compris entre
					<div class="row">
						<div class="col-xs-6">{{ f_select_doss.zs_mont_doss_min }}</div>
						<div class="col-xs-6">{{ f_select_doss.zs_mont_doss_max }}</div>
					</div>
					<div class="checkboxes-group">
						{{ f_select_doss.cb_doss_dep_nn_sold }}
						<!--{{ f_select_doss.cb_doss_ddv_nn_sold }}-->
					</div>
					{{ f_select_doss.zl_org_fin }}
					{{ f_select_doss.zl_org_prest }}
					<div class="checkboxes-group">
						{{ f_select_doss.cb_integr_doss_ass }}
						{{ f_select_doss.cb_ajout_select_exist }}
					</div>
					<button type="submit" class="center-block green-btn my-btn">Valider</button>
				</div>
			</fieldset>
		</form>
	</div>
	<div class="col-md-8">
		<div class="my-table" id="t_select_doss">
			<table>
				<thead>
					<tr>
						<th>N° du dossier</th>
						<th>Intitulé du dossier</th>
						<th>Maître d'ouvrage</th>
						<th>Montant total du dossier (en €)</th>
						<th></th>
					</tr>
				</thead>
				<tbody></tbody>
				<tfoot></tfoot>
			</table>
		</div>
		<br />
		<a href="?action=exporter-csv" class="csv-icon icon-link">Exporter au format CSV</a>
	</div>
</div>
{% endblock content %}