{% extends 'template.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
{{ menu }}
{% else %}
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<form action="?action=identifier" method="post" name="f_id" onsubmit="soum_f(event)">
			{% csrf_token %}
			<fieldset class="my-fieldset">
				<legend>Identification</legend>
				<div>
					{{ f_id.zs_username }}
					{{ f_id.zs_password }}
				</div>
				<button class="center-block green-btn my-btn" type="submit">Valider</button>
			</fieldset>
		</form>
	</div>
</div>
{% endif %}
{% endblock content %}