/* Aide à la saisie d'un mot de passe */
.showable-password {
	color: #DDD;
	position: absolute;
	right: 5px;
	top: 25px;
}

.showable-password:hover {
	cursor: pointer;
}

/* Autres */
.pointer {
	cursor: pointer;
}

#t_cons_ph img:hover {
	cursor: pointer;
	opacity: 0.5;
}

#t_cons_ss_action img:hover {
	cursor: pointer;
	opacity: 0.5;
}

/* Blocs d'informations */
fieldset.my-div-fieldset {
	color: #3770B1;
	border: solid 1px;
	padding: 20px 15px 0px 7.5px;
}

fieldset.my-div-fieldset > legend {
	color: #3770B1;
	border: none;
	padding: 0 7.5px;
	margin-bottom: 0;
	width: auto;
	font-size: 16px;
}

fieldset.my-div-fieldset > div {
	padding-left: 7.5px;
}

/* Boutons */
.my-btn,
.my-btn-sm {
	border: none;
	border-radius: 5px;
	color: #FFF;
}

.my-btn {
	display: block;
	line-height: 30px;
	padding: 0 15px;
}

.my-btn-sm {
	display: inline-block;
	line-height: 20px;
	padding: 0 7.5px;
}

.my-btn:focus,
.my-btn-sm:focus,
.my-btn:hover,
.my-btn-sm:hover {
	color: #FFF;
	text-decoration: none;
}

.buttons-group {
	text-align: center;
}

.buttons-group button {
	display: inline-block;
}

.my-btn-sm.excel {
	background-color: #02723B;
}

.my-btn-sm.excel:hover {
	background-color: #025C30;
}

.my-btn-sm.html {
	background-color: #E44D26;
}

.my-btn-sm.html:hover {
	background-color: #B73E1F;
}

.green-btn {
	background-color: #94C054;
}

.green-btn:hover {
	background-color: #779A44;
}

.orange-btn {
	background-color: #F8B862;
}

.orange-btn:hover {
	background-color: #C7944F;
}

/* Calendriers */
.datepicker {
	border-radius: 0;
	padding: 0 7.5px;
	width: 200px;
	height: 200px;
	line-height: 200px;
}

.datepicker .table-condensed {
	vertical-align: middle;
	display: inline-block;
	line-height: 1.3;
	width: 100%;
}

.datepicker .table-condensed th,
.datepicker .table-condensed td {
	width: 1%;
	padding: 0;
	font-size: 12px;
}

.datepicker .table-condensed th,
.datepicker .table-condensed td,
.datepicker .table-condensed td span {
	border-radius: 0;
}

.datepicker .table-condensed td span {
	width: 22.5%;
	height: 42.5px;
	line-height: 42.5px;
}

.datepicker table tr td.old,
.datepicker table tr td.new,
.datepicker table tr td span.old,
.datepicker table tr td span.new {
	color: #DDD;
}

.datepicker .datepicker-switch:hover,
.datepicker .next:hover,
.datepicker .prev:hover,
.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused,
.datepicker tfoot tr th:hover {
	background: #F6F6F6;
}

.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td span.active,
.datepicker table tr td span.active:hover {
	background-color: transparent;
	background-image: none;
	color: #FFF;
	text-shadow: none;
}

.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active {
	background-color: #3770B1;
}

/* Carousels */
.my-carousel .carousel-inner > .item > img {
	margin: 0 auto;
	line-height: 1.3;
}

.my-carousel .carousel-control {
	width: 40px;
	text-shadow: none;
	background-color: rgba(85, 85, 85, 0);
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.my-carousel .carousel-control .glyphicon-chevron-left,
.my-carousel .carousel-control .glyphicon-chevron-right {
	width: 20px;
	height: 20px;
	font-size: 20px;
	top: 50%;
	margin-top: -10px;
}

.my-carousel .carousel-control .glyphicon-chevron-left {
	left: 0;
	margin-left: 10px;
}

.my-carousel .carousel-control .glyphicon-chevron-right {
	right: 0;
	margin-right: 10px;
}

.my-carousel .carousel-indicators {
	bottom: 0;
	left: 0;
	margin: 0;
	width: 100%;
}

.my-carousel .carousel-indicators li {
	width: 10px;
	height: 10px;
	margin: 0;
	text-indent: initial;
	border-color: #DDD;
}

.my-carousel .carousel-indicators .active {
	background-color: #DDD;
}

/* Cartographie */
#styx-map {
	min-height: 480px;
}

/* Contrôles */
.attribute-wrapper,
.field-wrapper {
	margin-bottom: 20px;
	position: relative;
}

.attribute-wrapper .attribute-label,
.attribute-wrapper-com .attribute-label,
.field-wrapper .field-label {
	color: #3770B1;
}

.attribute-wrapper .attribute-control {
	display: block;
	width: 100%;
	min-height: 25px;
	background-color: #F6F6F6;
	color: #555;
	padding: 0 5px;
	border: 1px solid #DDD;
	cursor: text;
}

.attribute-wrapper-com .attribute-control-com {
	display: block;
	width: 100%;
	min-height: 100px;
	background-color: #F6F6F6;
	color: #555;
	padding: 0 5px;
	border: 1px solid #DDD;
	cursor: text;
}

.field-wrapper .field-control input[type="checkbox"] {
	display: inline-block;
}

.field-wrapper .field-control input[type="password"],
.field-wrapper .field-control input[type="text"],
.field-wrapper .field-control select,
.field-wrapper .field-control textarea {
	display: block;
	width: 100%;
	height: 25px;
	background-color: #FFF;
	color: #555;
	padding: 0 5px;
	border: 1px solid #DDD;
	border-radius: 0;
}

.field-wrapper .field-control textarea {
	min-height: 100px;
	resize: vertical;
}

.field-wrapper .field-control ul {
	list-style: none;
	padding-left: 0;
}

.field-wrapper .field-control ul > li {
	display: inline-block;
	margin-right: 5px;
}

.field-wrapper .field-control ul > li > label {
	font-weight: normal;
	color: #555;
	margin: 0;
}

.field-wrapper .field-control input[readonly],
.field-wrapper .field-control input[readonly]:focus {
	background-color: #F6F6F6;
}

.attribute-wrapper > .attribute-help-text {
	font-size: 12px;
	font-style: italic;
	color: #555;
}

.form-group {
	margin-bottom: 0;
}

.input-group-addon {
	padding: 0 7.5px;
	font-size: 12px;
	line-height: 1.3;
	background-color: #F6F6F6;
	border: solid 1px #DDD;
	border-radius: 0;
}

/* Contrôles avec autocomplétion */
.field-wrapper .field-control .typeahead__cancel-button {
	top: 5px;
}

.field-wrapper .typeahead__container.cancel:not(.loading) .typeahead__cancel-button {
	opacity: 0;
}

.field-wrapper .typeahead__container {
	font: inherit;
}

.field-wrapper .typeahead__query,
.field-wrapper .typeahead__filter,
.field-wrapper .typeahead__button {
	font-size: 16px;
}

.field-wrapper .typeahead__list {
	padding: 0;
	margin-top: 2px;
	border: solid 1px #DDD;
	border-radius: 0;
}

.field-wrapper .typeahead__list > li {
	border-color: #DDD;
}

.field-wrapper .typeahead__list > li > a {
	padding: 0 5px;
	color: #555;
}

.field-wrapper .typeahead__list > li > a:hover {
	background-color: #F6F6F6;
	color: #555;
}

.field-wrapper .typeahead__list > li > a:focus {
	background-color: transparent;
	color: #555;
}

.field-wrapper .typeahead__container.loading .typeahead__query:before,
.field-wrapper .typeahead__container.loading .typeahead__query:after {
	right: 5px;
	display: none;
}

.field-wrapper .typeahead__container.loading .typeahead__query:before {
	border-color: #DDD;
}

/* Couleurs */
.red-color {
	color: #FF0921;
}

.green-color {
	color: #82C46C;
}

/* Fenêtres modales */
.my-modal .modal-dialog {
	margin: 20px auto;
}

@media (min-width: 992px) {
	.my-modal .modal-dialog {
		width: 945px;
	}
}

@media (max-width: 991px) {
	.my-modal .modal-dialog {
		width: calc(100% - 30px);
	}
}

.my-modal .modal-content {
	border-radius: 0;
}

.my-modal .modal-header {
	color: #3770B1;
	padding: 5px 15px;
	border-color: #DDD;
	text-align: center;
}

.my-modal .modal-header > .close {
	font-size: 24px;
	color: #555;
}

.my-modal .modal-header > .close:hover,
.my-modal .modal-header > .close:focus {
	color: #555;
	filter: alpha(opacity = 100);
}

.my-modal .modal-body {
	background-color: #EBF0F7;
	padding: 20px 15px 0 15px;
	max-height: calc(100vh - 75px);
	overflow-y: auto;
}

.my-modal .modal-padding-bottom {
	padding-bottom: 20px;
}

/* Formulaires */
form > fieldset.my-fieldset {
	color: #3770B1;
	border: solid 2px;
	padding: 10px 15px 10px 7.5px;
}

form > fieldset.my-fieldset > legend {
	color: #3770B1;
	border: none;
	padding: 0 7.5px;
	margin-bottom: 0;
	width: auto;
	font-size: 20px;
	font-weight: bold;
}

form > fieldset.my-fieldset > div {
	padding-left: 7.5px;
}

.field-error > ul {
	list-style : none;
	padding-left: 0;
	font-weight : bold;
}

.field-error > ul > li {
	font-size : 10px;
	position: absolute;
	bottom: -15px;
	color : #FF0921;
}

.invalid-field {
	border: solid 1px #FF0921;
	-webkit-box-shadow : inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 5px rgba(255, 9, 33, 0.8);
	box-shadow : inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 5px rgba(255, 9, 33, 0.8);
}

.required-field:before {
	content: ' (requis)';
	font-size: 12px;
	font-style: italic;
	color: #FF0921;
}

.may-be-required-field:before {
	content: ' (peut être requis)';
	font-size: 12px;
	font-style: italic;
	color: #FF0921;
}

.field-complement {
	font-size: 12px;
	font-style: italic;
	color: #FF0921;
}

.form-remark {
	color: #555;
	font-size: 12px;
	font-weight: bold;
	margin-top: 15px;
}

.form-remark:before {
	content: 'Remarque(s) :';
	text-decoration: underline;
}

.custom-alert-danger {
	padding: 5px 15px;
	margin-top: -20px;
	margin-bottom: 20px;
	border-top: solid 1px;
	border-bottom: solid 1px;
	border-color: #FF0921;
	color: #FF0921;
	background-color: #FFCDD2;
}

/* Graphiques */
.graph-wrapper > .graph-title {
	text-align: center;
}

.graph-canvas {
	width: 100%;
	height: 480px;
	font-size: 12px;
}

.graph-wrapper > .graph-legend:before {
	content: 'Légende';
	text-decoration: underline;
}

.graph-wrapper > .graph-legend .legendLabel {
	font-size: initial;
	padding-left: 5px;
}

.graph-tooltip {
	position: absolute;
	display: none;
	text-align: center;
}

.graph-tooltip > div {
	display: inline-block;
	border: solid 1px #DDD;
	background-color: #F6F6F6;
	padding: 2.5px 5px;
	margin-top: 5px;
}

/* Mise en page */
.col-md-offset-6 {
	padding: 0 15px;
}

.br {
	display: block;
	width: 100%;
	height: 20px;
}

@media (max-width: 767px) {
	.br-sm-before {
		margin-top: 20px;
	}
}

@media (max-width: 991px) {
	.br-md-after {
		margin-bottom: 20px;
	}
}

.right {
	text-align: right;
}

.main-title,
.title-1 {
	color: #FFF;
	padding: 5px 15px;
	text-align: center;
	border: double 1px #FFF;
	margin-bottom: 20px;
}

.main-title {
	background-color: #94C054;
}

.title-1 {
	background-color: #3770B1;
}

.align-icon-link-xs {
	padding-top: 20px;
}

@media (max-width: 767px) {
	.align-icon-link-xs {
		padding-top: 0;
		padding-bottom: 20px;
	}
}

.my-label {
	color: #3770B1;
}

ul {
	margin: 0;
}

ul.my-list-style {
	list-style: none;
	padding-left: 15px;
}

ul.my-list-style > li:before {
	content: '-> ';
}

.my-badge {
	display: inline-block;
	width: 15px;
	height: 15px;
	vertical-align: middle;
	background-color: #F8B862;
	border-radius: 100%;
}

.checkboxes-group .field-wrapper:not(:last-child) {
	margin-bottom: 0;
}

/* Onglets */
.my-nav-tabs {
	border-color: #DDD;
}

.my-nav-tabs > li > a {
	font-size: 12px;
	padding: 5px 2.5px;
	line-height: 1.3;
	white-space: nowrap;
	border-radius: 0;
}

.my-nav-tabs.nav-justified {
	border-bottom: solid 1px #DDD;
}

.my-nav-tabs.nav-justified > li > a {
	margin-bottom: 0;
	border: none;
	border-radius: 0;
}

.my-nav-tabs > li > a:hover,
.my-nav-tabs > li > a:focus,
.my-nav-tabs.nav-justified > li > a:hover,
.my-nav-tabs.nav-justified > li > a:focus {
	color: #2C5A8E;
	background-color: transparent;
}

.my-nav-tabs > li.active > a,
.my-nav-tabs > li.active > a:hover,
.my-nav-tabs > li.active > a:focus,
.my-nav-tabs.nav-justified > li.active > a,
.my-nav-tabs.nav-justified > li.active > a:hover,
.my-nav-tabs.nav-justified > li.active > a:focus {
	color: #FFF;
	background-color: #3770B1;
	border-color: transparent;
}

.tab-content > div {
	margin-top: 20px;
}

/* Pictogrammes (autres boutons) */
.add-icon {
	background-image: url('../pics/icons/add.png');
	background-size: 20px;
	-webkit-background-size: 19px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.add_aven-icon {
	background-image: url('../pics/icons/add_aven.png');
	background-size: 20px;
	-webkit-background-size: 19px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.add-company-icon {
	background-image: url('../pics/icons/add_company.png');
	background-size: 16.5px;
	-webkit-background-size: 15.5px;
	background-repeat: no-repeat;
	width: 16.5px;
	height: 20px;
}

.choose-icon {
	background-image: url('../pics/icons/choose.png');
	background-size: 20px;
	-webkit-background-size: 19px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.chosen-icon {
	background-image: url('../pics/icons/chosen.png');
	background-size: 20px;
	-webkit-background-size: 19px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.consult-icon {
	background-image: url('../pics/icons/consult.png');
	background-size: 20px;
	-webkit-background-size: 19px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.csv-icon {
	background-image: url('../pics/icons/csv.png');
	background-size: 22px;
	-webkit-background-size: 21px;
	background-repeat: no-repeat;
	width: 22px;
	height: 20px;
}

.delete-icon {
	background-image: url('../pics/icons/delete.png');
	background-size: 20px;
	-webkit-background-size: 19px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.false-icon {
	background-image: url('../pics/icons/false.png');
	background-size: 20px;
	-webkit-background-size: 19px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.mail-icon {
	background-image: url('../pics/icons/mail.png');
	background-size: 20px;
	-webkit-background-size: 19px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.modify-icon {
	background-image: url('../pics/icons/modify.png');
	background-size: 20px;
	-webkit-background-size: 19px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.pdf-icon {
	background-image: url('../pics/icons/pdf.png');
	background-size: 17px;
	-webkit-background-size: 16px;
	background-repeat: no-repeat;
	width: 17px;
	height: 20px;
}

.phone-icon {
	background-image: url('../pics/icons/phone.png');
	background-size: 20px;
	-webkit-background-size: 19px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.photo-icon {
	background-image: url('../pics/icons/photo.png');
	background-size: 20px;
	-webkit-background-size: 19px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.previous-icon {
	background-image: url('../pics/icons/previous.png');
	background-size: 20px;
	-webkit-background-size: 19px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.print-icon {
	background-image: url('../pics/icons/print.png');
	background-size: 22.2px;
	-webkit-background-size: 21.2px;
	background-repeat: no-repeat;
	width: 22.2px;
	height: 20px;
}

.siret-search-icon {
	background-image: url('../pics/icons/siret_search.png');
	background-size: 58px;
	-webkit-background-size: 57px 20px;
	background-repeat: no-repeat;
	width: 58px;
	height: 20px;
}

.true-icon {
	background-image: url('../pics/icons/true.png');
	background-size: 20px;
	-webkit-background-size: 19px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.word-icon {
	background-image: url('../pics/icons/word.png');
	background-size: 20.5px;
	-webkit-background-size: 19.5px;
	background-repeat: no-repeat;
	width: 20.5px;
	height: 20px;
}

.icon-link {
	padding-left: 25px;
	color: #555;
}

.icon-link:hover,
.icon-link:focus {
	cursor: pointer;
	text-decoration: underline;
	color: #555;
}

.no-link:hover,
.no-link:focus {
	cursor: initial;
	text-decoration: none;
}

/* Police */
.b {
	font-weight: bold;
}

.u {
	text-decoration: underline;
}

.i {
	font-style: italic;
}

.small {
	font-size: 12px;
}

.large {
	font-size: 24px;
}

/* Tableaux HTML */
.my-table {
	font-size: 12px;
	overflow: auto;
	margin-bottom: 2.5px;
}

.my-table table.dataTable {
	border-collapse: collapse;
	width: calc(100% - 2px);
}

.my-table table.dataTable.no-footer {
	box-shadow: none;
}

.my-table thead {
	background-color: #3770B1;
	color: #FFF;
}

.my-table thead > tr > th {
	border: solid 1px #DDD;
	font-style: italic;
	font-weight: normal;
	padding: 2.5px 7.5px;
	text-align: center;
	white-space: nowrap;
}

.my-table thead > tr > th.autofit {
	width: 1%;
}

.my-table table.dataTable > thead .sorting,
.my-table table.dataTable > thead .sorting_asc,
.my-table table.dataTable > thead .sorting_desc {
	background-image: none;
}

.my-table thead .sorting:hover,
.my-table thead .sorting_asc,
.my-table thead .sorting_desc {
	background-color: #2A5485;
}

.my-table thead > tr > th.unbordered,
.my-table tbody > tr > td.unbordered {
	border: none;
	border-bottom: solid 1px #DDD;
}

.my-table tbody > tr > td {
	border: solid 1px #DDD;
	color: #555;
	padding: 2.5px 7.5px;
	text-align: justify;
}

.my-table tbody > tr {
	background-color: #FFF;
}

.my-table tbody > tr:nth-of-type(even) {
	background-color: #F6F6F6;
}

.my-table .dataTables_length {
	color: #555;
	text-align: left;
}

.my-table .dataTables_length label {
	font-weight: normal;
}

.my-table .dataTables_wrapper .dataTables_paginate {
	float: left;
	padding-top: 5px;
	text-align: center;
	width: 100%;
}

@media (max-width: 767px) {
	.my-table .dataTables_wrapper .dataTables_paginate {
		margin: 0;
	}
}

.my-table .dataTables_wrapper .dataTables_paginate .paginate_button {
	border: solid 1px transparent;
	border-radius: 0;
	margin-left: 5px;
	padding: 2.5px 7.5px;
}

.my-table .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.my-table .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	background: #2A5485;
	border: solid 1px transparent;
	color: #FFF !important;
}

.my-table .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.my-table .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.my-table .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
	background-color: transparent;
	border: solid 1px transparent;
	color: #555 !important;
}

.my-table .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	background: #3770B1;
	border: solid 1px transparent;
	color: #FFF !important;
}

.my-table .dataTables_wrapper .dataTables_paginate .paginate_button:active {
	box-shadow: none;
}

.my-table tfoot {
	background-color: #FFF;
}

.my-table tfoot > tr > td {
	padding: 2.5px 7.5px;
	background-color: #3770B1;
	color: #FFF;
	border: solid 1px #DDD;
	white-space: nowrap;
}

.my-table tfoot > tr > td:first-child {
	font-weight: normal;
	font-style: italic;
}

.my-table .dataTables_info {
	color: #555;
	padding: 0;
	text-align: left;
	width: 100%;
}

.my-table .toolbar {
	color: #555;
	width: 100%;
}

/* Vignettes */
.custom-thumbnail {
	display: block;
	background-color: #FFF;
	border: 1px solid #DDD;
	padding: 10px 15px;
	text-align: center;
}

.custom-thumbnail:hover {
	border-color: #2A5485;
	-webkit-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out;
}

.custom-thumbnail,
.custom-thumbnail:hover,
.custom-thumbnail:focus {
	color: #555;
	text-decoration: none;
}

.custom-thumbnail > img {
	max-height: 120px;
	margin-bottom: 10px;
}

@media (min-width: 768px) {
	.thumbnails-row > div:not(:last-child) {
		margin-bottom: 20px;
	}
}

@media (max-width: 767px) {
	.thumbnails-row > div > div {
		margin-bottom: 20px;
	}

	.thumbnails-row {
		margin-bottom: -20px;
	}
}

.custom-thumbnail[href="#"] {
	opacity: 0.5;
}

.profile-widget {
	display: block;
	background-color: #FFF;
	border: 1px solid #DDD;
	padding: 10px 15px;
	text-align: center;
	margin-bottom: 20px;
}

.profile-widget > div {
	margin-bottom: 20px;
}

/* Zones d'upload */
.input-file-container {
	position: relative;
}

.input-file-container > .field-control > input[type="file"] {
	position: absolute;
	top: 0;
	left: 0;
	width: 75px;
	opacity: 0;
	cursor: pointer;
}

.input-file-trigger {
	display: inline-block;
	padding: 2.5px 7.5px;
	border: none;
	border-radius: 5px;
	color: #FFF;
	background-color: #F8B862;
}

.input-file-container > .field-control:hover + .input-file-trigger {
	background-color: #C7944F;
}

.input-file-return {
	color: #555;
	display: inline-block;
}

.input-file-return > .file-infos {
	display: inline-block;
	margin-right: 5px;
	color: #555;
	font-weight: bold;
}

.input-file-return > .file-infos:not(:empty):before {
	content: 'Fichier :';
	text-decoration: underline;
	font-weight: normal;
}

.input-file-return > .delete-file {
	display: inline-block;
	cursor: pointer;
}

.input-file-return > .delete-file > input,
.input-file-return > .delete-file > label {
	cursor: pointer;
}

.input-file-return > .delete-file > label {
	font-weight: normal;
	font-style: italic;
	color: #FF0921;
}
