html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: 'Calibri';
	font-size: 16px;
	background-color: #C7DBEB;
	color: #988578;
	text-align: justify;
	line-height: 1.3;
	margin-bottom: 60px;
}

/* En-tête */
#header > .navbar {
	min-height: 60px;
	background-color: #FFF;
	border: none;
	border-radius: 0;
	margin-bottom: 0;
}

#header > .navbar .navbar-header > a > img {
	height: 30px;
	margin-top: 15px;
}

#header > .navbar .navbar-nav > li > a,
#header > .navbar .dropdown-menu > li > a,
#header > .navbar .dropdown-menu > li > span {
	font-size: 14px;
	color: #2171B0;
}

#header > .navbar .navbar-nav > li > a:hover,
#header > .navbar .dropdown-menu > li > a:hover,
#header > .navbar .dropdown-menu > li > span:hover {
	color: #2C5A8E;
	background-color: transparent;
}

#header > .navbar .navbar-nav > li > a:focus,
#header > .navbar .dropdown-menu > li > a:focus,
#header > .navbar .dropdown-menu > li > span:focus {
	color: revert;
	background-color: transparent;
}

#header > .navbar .navbar-header > .navbar-toggle > .icon-bar {
	background-color: #2171B0;
}

#header > .navbar .navbar-header > .navbar-toggle:hover > .icon-bar {
	background-color: #2C5A8E;
}

#header > nav .navbar-toggle {
	padding: 0 15px;
	margin: 0;
	background-color: transparent;
	border: none;
	border-radius: 0;
	height: 60px;
	line-height: 60px;
}

#header > .navbar .navbar-toggle .icon-bar {
	display: block;
	width: 20px;
	height: 2px;
}

#header > .navbar .navbar-toggle .icon-bar + .icon-bar {
	margin-top: 5px;
}

#header > .navbar .navbar-brand {
	height: 60px;
	padding: 0 15px;
	margin-right: 15px;
}

#header > .navbar .navbar-collapse {
	border: none;
}

#header > .navbar .navbar-nav {
	margin: 0 -15px;
}

#header > .navbar .navbar-nav > li > a {
	height: 60px;
	padding: 0 15px;
	line-height: 60px;
}

#header > .navbar .dropdown-menu {
	min-width: 0;
	padding: 0;
	margin: 0;
	font-size: 16px;
	border: solid 1px #DDD1CA;
	border-radius: 0;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

#header > .navbar .dropdown-menu > li > a,
#header > .navbar .dropdown-menu > li > span {
	display: block;
	padding: 2.5px 15px;
	clear: both;
	font-weight: normal;
	line-height: 1.3;
	white-space: nowrap;
}

#header > .navbar .dropdown-menu > li > span {
	cursor: pointer;
}

#header > .navbar .dropdown-menu > li.dropdown-divider {
	border-top: solid 1px #DDD1CA;
}

#header > .navbar .dropdown-toggle {
	background-color: transparent;
}

#header > .navbar .caret {
	margin-left: 2.5px;
}

@media (max-width: 1200px) {
	#header > .navbar .navbar-header {
		float: none;
		border-bottom: solid 1px #DDD1CA;
	}

	#header > .navbar .navbar-nav {
		float: none !important;
	}

	#header > .navbar .navbar-nav > li {
		float: none;
	}

	#header > .navbar .navbar-nav > li > a {
		height: 40px;
		line-height: 40px;
		padding: 0 15px;
	}

	#header > .navbar .navbar-toggle {
		display: block;
	}

	#header > .navbar .dropdown-menu > li > a,
	#header > .navbar .dropdown-menu > li > span {
		display: block;
	}

	#header > .navbar .navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		border: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		background-image: linear-gradient(to right, #FFF, #F6F6F6);
	}

	#header > .navbar .navbar-collapse.collapse {
		display: none !important;
	}

	#header > .navbar .navbar-collapse.collapse.in { 
		display: block !important;
	}

	#header > .navbar .collapsing {
		overflow: hidden !important;
	}
}

@media (min-width: 1200px) {
	#header > .navbar {
		border-bottom: solid 1px #DDD1CA;
	}
}

/* Pied de page */
div#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #FFF;
	text-align: center;
}

div#footer > div.footer-col > img {
	height: 30px;
	margin-right: 2.5px;
}

div#footer > div.footer-col {
	height: 60px;
	padding-top: 15px;
}

@media (max-width: 991px) {
	div#footer {
		height: 120px;
	}

	div#pre-footer {
		bottom: 120px;
	}

	body {
		margin-bottom: 120px;
	}
}

div#content {
	margin: 20px 0;
}

/* Loaders */
.spin {
	-moz-animation: spin-for-mozilla .5s infinite linear;
	-webkit-animation: spin-for-chrome .5s infinite linear;
	-animation: spin .5s infinite linear;
}

@-moz-keyframes spin-for-mozilla {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(360deg);
	}
}

@-webkit-keyframes spin-for-chrome {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	from {
		transform: scale(1) rotate(0deg);
	}
	to {
		transform: scale(1) rotate(360deg);
	}
}

#main-loader {
	line-height: 100vh;
	text-align: center;
}

#main-loader > div {
	vertical-align: middle;
	display: inline-block;
	line-height: 1.3;
}

div#ajax-loader {
	position: fixed;
	bottom: 0;
	right: 0;
	border: solid 1px #DDD1CA;
	background-color: #F6F6F6;
	padding: 5px 15px;
}