{% extends 'template.html' %}
{% load static %}
{% load leaflet_tags %}

{% block content %}
<div class="row">
	<div class="col-md-12 right">
		<a href="{% url 'ch_act_pgre' %}" class="icon-link previous-icon">Revenir à la liste des actions PGRE</a>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="main-title">Action PGRE N°{{ a }}</div>
		<ul class="my-nav-tabs nav nav-justified nav-tabs" id="tab_act_pgre">
			<li><a href="#ong_act_pgre" data-toggle="tab">Caractéristiques</a></li>
			<li><a href="#ong_ss_action" data-toggle="tab">Sous-actions</a></li>
			<li><a href="#ong_pdc" data-toggle="tab">Points de contrôle {{ annee }}</a></li>
			<li><a href="#ong_ph" data-toggle="tab">Photos</a></li>
			<li><a href="#ong_carto" data-toggle="tab">Cartographie</a></li>
		</ul>
		<div class="tab-content">
			<div id="ong_act_pgre" class="fade tab-pane">
				<div class="row">
					{% if forbidden == True %}
					<div class="col-sm-9">
					{% else %}
					<div class="col-sm-12">
					{% endif %}
						{{ t_attrs_act_pgre.num_doss_pgre }}
						{{ t_attrs_act_pgre.id_ic_pgre }}
						{{ t_attrs_act_pgre.atel_pgre }}
						{{ t_attrs_act_pgre.int_doss_pgre }}
						{{ t_attrs_act_pgre.id_doss }}
						{{ t_attrs_act_pgre.moa }}
						{{ t_attrs_act_pgre.id_pr_pgre }}
						{{ t_attrs_act_pgre.obj_econ_ress_doss_pgre }}
						{{ t_attrs_act_pgre.ann_prev_deb_doss_pgre }}
						<div class="row">
							<div class="col-sm-6">{{ t_attrs_act_pgre.dt_deb_doss_pgre }}</div>
							<div class="col-sm-6">{{ t_attrs_act_pgre.dt_fin_doss_pgre }}</div>
						</div>
						{{ t_attrs_act_pgre.id_nat_doss }}
						{{ t_attrs_act_pgre.id_av_pgre }}
						{{ t_attrs_act_pgre.chem_pj_doss_pgre }}
						{{ t_attrs_act_pgre.comm_doss_pgre }}
					</div>
					<div class="col-sm-3 forbidden">
						<a href="{% url 'modif_act_pgre' a.pk %}" class="icon-link modify-icon">Modifier l'action PGRE</a>
						<br/>
						<span action="?action=supprimer-action-pgre" class="delete-icon icon-link" onclick="html_ds_fm(event, 'suppr_act_pgre');">Supprimer l'action PGRE</span>
						<br/>

					</div>
				</div>
			</div>
			<div id="ong_pdc" class="fade tab-pane">
				<div class="row">
					{% if t_pdc_length > 1 %}
					<div class="br-md-after col-md-6">
					{% else %}
					<div class="col-md-12">
					{% endif %}
						{% if est_ddtm == True %}
						<div class="right">
							<span data-target="#fm_ajout_pdc" data-toggle="modal" class="add-icon forbidden icon-link">Ajouter un point de contrôle</span>
						</div>
						{% endif %}
						<div class="my-table" id="t_cons_pdc">
							<table>
								<thead>
									<tr>
										<th>Date du contrôle</th>
										<th>Objectif réalisé (en m<sup>3</sup>)</th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									{% for p in t_pdc %}
									<tr>
										<td>{{ p.dt_contr_doss_pgre }}</td>
										<td>{{ p.obj_real_contr_doss_pgre }}</td>
										<td>
											{% if p.pk and est_ddtm == True %}
											<a href="{% url 'modif_pdc' p.pk %}" class="forbidden modify-icon pull-right" title="Modifier le dernier point de contrôle"></a>
											{% endif %}
										</td>
										<td>
											{% if p.pk and est_ddtm == True %}
											<span action="?action=supprimer-point-de-controle&point-de-controle={{ p.pk }}" class="delete-icon forbidden pointer pull-right" onclick="html_ds_fm(event, 'suppr_pdc');" title="Supprimer le dernier point de contrôle"></span>
											{% endif %}
										</td>
									</tr>
									{% endfor %}
								</tbody>
								{% if t_pdc_length > 0 %}
								<tfoot>
									<tr>
										<td>Total (en m<sup>3</sup>)</td>
										<td colspan="3">{{ econ_tot }}</td>
									</tr>
								</tfoot>
								{% endif %}
							</table>
						</div>
					</div>
					{% if t_pdc_length > 1 %}
					<div class="col-md-6">
						<div class="graph-wrapper">
							<div class="graph-title">Variation de l'économie de la ressource en eau réalisée en {{ annee }}</div>
							<div class="graph-canvas" id="zg_pdc"></div>
							<div class="graph-legend"></div>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
			<div id="ong_ph" class="fade tab-pane">
				<div class="right">
					<span data-target="#fm_ajout_ph" data-toggle="modal" class="add-icon forbidden icon-link">Ajouter une photo</span>
				</div>
				<div class="my-table" id="t_cons_ph">
					<table>
						<thead>
							<tr>
								<th style="width: 80px;">Visualisation</th>
								<th>Intitulé</th>
								<th>Période de la prise de vue</th>
								<th>Date de la prise de vue</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for p in t_ph_pgre %}
							<tr>
								<td>
									<img action="?action=consulter-photo&photo={{ p.pk }}" onclick="html_ds_fm(event, 'cons_ph');" src="{{ MEDIA_URL }}{{ p.chem_ph_pgre }}" title="Consulter la photo" style="display: block; margin: 0 auto; max-width: 80px;">
								</td>
								<td>{{ p.int_ph_pgre }}</td>
								<td>{{ p.int_ppv_ph_pgre }}</td>
								<td>{{ p.dt_pv_ph_pgre }}</td>
								<td><a class="forbidden modify-icon pull-right" href="{% url 'modif_ph_pgre' p.pk %}" title="Modifier la photo"></a></td>
								<td><span action="?action=supprimer-photo&photo={{ p.pk }}" class="delete-icon forbidden pointer pull-right" onclick="html_ds_fm(event, 'suppr_ph');" title="Supprimer la photo"></span></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{% if t_ph_pgre_length > 0 %}
				<div class="text-center">
					<span data-target="#fm_lanc_diap" data-toggle="modal" class="icon-link photo-icon">Lancer le diaporama</span>
				</div>
				{% endif %}
			</div>

			<!-- Dev onglet sous-actions -->
			<div id="ong_ss_action" class="fade tab-pane">
				<div class="right">
					<span data-target="#fm_ajout_ss_action" data-toggle="modal" class="add-icon forbidden icon-link">Ajouter une sous-action</span>
				</div>
				<div class="my-table" id="t_cons_ss_action">
					<table>
						<thead>
							<tr>
								<th>Libellé</th>
								<th>Commentaire</th>
								<th>Description</th>
								<th>Prévisionnel</th>
							</tr>
						</thead>
						<tbody>
							{% for ssa in t_ss_action_pgre %}
							<tr>
								<td>
									<span action="?action=consulter-sous-action-pgre&sous-action={{ ssa.pk }}" onclick="html_ds_fm(event, 'cons_ss_action');" title="Consulter la photo" style="display: block; margin: 0 auto; max-width: 80px;"></span>
								</td>
								<td>{{ ssa.lib_ss_act }}</td>
								<td>{{ ssa.desc_ss_act }}</td>
								<td>{{ ssa.comm_ss_act }}</td>
								<td>{{ ssa.dt_prevision_ss_action_pgre }}</td>
								<td>
									<a class="forbidden modify-icon pull-right" href="{% url 'modif_ss_act_pgre' ssa.pk %}" title="Modifier la sous-action"></a>
								</td>
								<td>
									<span action="?action=supprimer-sous-action-pgre&sous-action={{ ssa.pk }}" class="delete-icon forbidden pointer pull-right" onclick="html_ds_fm(event, 'suppr_ss_action');" title="Supprimer la sous-action"></span>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>

			<div id="ong_carto" class="fade tab-pane">
				<form action="{% url 'modif_act_pgre' a.pk %}?action=modifier-geom" method="post" name="f_modif_carto" onsubmit="soum_f(event)">
					{% csrf_token %}
					<!-- Je stocke la géométrie définie pour le dossier. -->
					<input id="edit-geom" name="edit-geom" type="hidden">
					<script type="text/javascript">

						// Je charge les géométries déjà stockées pour le dossier.
						{% for gd in t_geom_act_pgre %}
						g = new L.geoJson({{ gd | safe }});
						lyr = g.getLayers()[0];
						editableLayers.addLayer(lyr);
						{% endfor %}

					</script>
					{% leaflet_map 'styx-map' %}
				</form>
			</div>
		</div>
		<script type="text/javascript">

		/**
		 * Ce script permet d'activer un onglet du navigateur à onglets relatif à une action PGRE.
		 */
		$(document).ready(function() {
			var ong_tab_act_pgre = '{{ request.session.tab_act_pgre }}';
			if (ong_tab_act_pgre == '') {
				ong_tab_act_pgre = '#ong_act_pgre';
			}
			$('#tab_act_pgre').find('a[href="' + ong_tab_act_pgre + '"]').tab('show');
		});

		</script>
	</div>
</div>
{% endblock content %}
