{% extends 'gabarit.html' %}
{% load static %}

{% block content %}
<div class="row">
	<div class="col-md-4 saut-md">
		<form name="form_choisir_dossier" method="post" action="{% url 'choisir_dossier' %}?action=filtrer-dossiers" class="c-theme">
			{% csrf_token %}
			<fieldset style="padding-bottom: 0;">
				<legend>Choisir un dossier</legend>
				<div class="form-content">
					{{ f1.zl_org_moa }}
					{{ f1.zld_progr }}
					<div class="row">
						<div class="col-sm-4">{{ f1.zld_axe }}</div>
						<div class="col-sm-4">{{ f1.zld_ss_axe }}</div>
						<div class="col-sm-4">{{ f1.zld_act }}</div>
					</div>
					{{ f1.zl_nat_doss }}
					{{ f1.zl_ann_delib_moa_doss }}
				</div>
			</fieldset>
		</form>
	</div>
	<div class="col-md-8">
		<div style="overflow: auto;">
			<table class="display table" id="tab_choisir_dossier">
				<thead>
					<tr>
						<th>N° du dossier</th>
						<th>Maître d'ouvrage</th>
						<th>Date de délibération au maître d'ouvrage</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for un_doss in les_doss %}
					<tr>
						<td class="b">{{ un_doss.num_doss }}</td>
						<td>{{ un_doss.n_moa }}</td>
						<td>{{ un_doss.dt_delib_moa_doss }}</td>
						<td><a href="{% url 'consulter_dossier' un_doss.id_doss %}" class="bt-consulter pull-right" title="Consulter le dossier"></a></td>
					</tr>
					{% endfor %}					
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock content %}