{% extends 'template.html' %}
{% load static %}

{% block content %}
<div class="row">
	<div class="col-md-12 right">
		<a href="{% url 'cons_prest' pd.pk %}" class="icon-link previous-icon">Revenir à la prestation</a>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="main-title">Avenant {{ a.id_doss }} - {{ a.id_prest }} - {{ a }}</div>
		<div class="row">
			{% if forbidden == True %}
			<div class="col-sm-9">
			{% else %}
			<div class="col-sm-12">
			{% endif %}
				<div class="row">
					<div class="col-sm-6">{{ t_attrs_aven.id_doss }}</div>
					<div class="col-sm-6">{{ t_attrs_aven.id_prest }}</div>
				</div>
				{{ t_attrs_aven.int_aven }}
				{{ t_attrs_aven.dt_aven }}
				{{ t_attrs_aven.mont_aven }}
				{{ t_attrs_aven.comm_aven }}
			</div>
			<div class="col-sm-3 forbidden">
				<a href="{% url 'modif_aven' a.pk %}" class="icon-link modify-icon">Modifier</a>
			</div>
		</div>
	</div>
</div>
{% endblock content %}