{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="main-title">Consulter une prestation</div>
		<br />
		<ul class="nav nav-tabs" id="app-nav">
			<li><a href="#ong_caracteristiques" data-toggle="tab">Caractéristiques</a></li>
			<li><a href="#ong_avenants" data-toggle="tab">Avenants</a></li>
		</ul>
		<div class="tab-content">
			<div id="ong_caracteristiques" class="fade tab-pane">
				<div class="row">
					<div class="col-xs-6">{{ les_attr_prest.n_org }}</div>
					<div class="col-xs-6">{{ les_attr_prest.int_prest }}</div>
				</div>
				{{ les_attr_prest.ref_prest }}
				<p class="c-theme">Liste des dossiers reliés à la prestation</p>
				<div style="overflow: auto;" class="attribute-wrapper">
					<table class="table display" id="tab_dossiers_prestation">
						<thead>
							<tr>
								<th>N° du dossier</th>
								<th>Montant HT sans avenants (en €)</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for un_doss_prest in les_doss_prest %}
							<tr>
								<td class="b">{{ un_doss_prest.num_doss }}</td>
								<td>{{ un_doss_prest.mont_ht_prest }}</td>
								<td><a href="{% url 'consulter_dossier' un_doss_prest.id_doss %}" class="bt-consulter pull-right"></a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="row">
					<div class="col-xs-6">{{ les_attr_prest.mont_ht_tot_prest }}</div>
					<div class="col-xs-6">{{ les_attr_prest.mont_ttc_tot_prest }}</div>
				</div>
				<div class="row">
					<div class="col-xs-6">{{ les_attr_prest.dt_notif_prest }}</div>
					<div class="col-xs-6">{{ les_attr_prest.dt_fin_prest }}</div>
				</div>
				{{ les_attr_prest.int_nat_prest }}
				{% if la_prest.chem_pj_prest != None %}
				<a href="{{ MEDIA_URL }}{{ la_prest.chem_pj_prest }}" target="blank" class="bt-pdf icon-link">Consulter le contrat de prestation</a>
				<br />
				<br />
				{% endif %}
				{{ les_attr_prest.comm_prest }}
			</div>
			<div id="ong_avenants" class="fade tab-pane">
				<div class="row">
					<div class="col-md-12">
						<form name="form_rechercher_avenants" method="post" action="{% url 'consulter_prestation' la_prest.id_prest %}?action=rechercher-avenants" class="c-theme">
							{% csrf_token %}
							{{ f1.zl_doss }}
						</form>
						<div class="right">
							<span data-toggle="modal" data-target="#fm_ajouter_avenant" class="bt-ajouter icon-link">Ajouter un avenant</span>
						</div>
						<div style="overflow: auto;" class="attribute-wrapper">
							<table class="table display" id="tab_consulter_avenants">
								<thead>
									<tr>
										<th>N° de l'avenant</th>
										<th>Intitulé</th>
										<th>Date de fin</th>
										<th>Montant HT (en €)</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}