{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="right">
	<a href="{% url 'consulter_dossier' le_doss.id_doss %}" class="bt-precedent icon-link">Revenir au dossier</a>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="main-title">Consulter un arrêté</div>
		<br />
		<div class="row">
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-6">{{ les_attr_arr.num_doss }}</div>
					<div class="col-md-6">{{ les_attr_arr.int_type_decl }}</div>
				</div>
				{{ les_attr_arr.int_type_av_arr }}
				{{ les_attr_arr.num_arr }}
				{{ les_attr_arr.dt_sign_arr }}
				{{ les_attr_arr.dt_lim_encl_trav_arr }}
				<a href="{{ MEDIA_URL }}{{ l_arr_doss.chem_pj_arr }}" class="bt-pdf icon-link" target="blank">Consulter le fichier scanné de l'arrêté</a>
				<br />
				<br />
				{{ les_attr_arr.comm_arr }}
			</div>
			<div class="col-md-3">
				<a href="{% url 'modifier_arrete' le_doss.id_doss l_arr.id_type_decl %}" class="bt-modifier icon-link">Modifier</a>
				<br />
				<span action="{% url 'consulter_arrete' le_doss.id_doss l_arr.id_type_decl %}?action=supprimer-arrete&dossier={{ le_doss.id_doss }}&arrete={{ l_arr.id_type_decl }}" class="bt-supprimer icon-link" id="bt_supprimer_arrete">Supprimer l'arrêté</span>
			</div>
		</div>
	</div>
</div>
{% endblock content %}