{% extends 'gabarit.html' %}
{% load static %}

{% block content %}
<div class="right">
	<a href="{% url 'choisir_dossier' %}" class="bt-precedent icon-link">Revenir à la liste des dossiers</a>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="main-title">Consultation du dossier {{ le_doss.num_doss }}</div>
		<br />
		<ul class="nav nav-tabs" id="app-nav">
			<li><a href="#ong_caracteristiques" data-toggle="tab">Caractéristiques</a></li>
			{% if le_doss.id_av.int_av != 'En projet' %}
			<li><a href="#ong_financements" data-toggle="tab">Plan de financement</a></li>
			<li><a href="#ong_prestations" data-toggle="tab">Prestations</a></li>
			<li><a href="#ong_factures" data-toggle="tab">Factures</a></li>
			<li><a href="#ong_demandes_versements" data-toggle="tab">Demandes de versement</a></li>
			<li><a href="#ong_reglementations" data-toggle="tab">Réglementations</a></li>
			{% endif %}
			<li><a href="#ong_photos" data-toggle="tab">Photos</a></li>
			<li><a href="#ong_cartographie" data-toggle="tab">Cartographie</a></li>
		</ul>
		<div class="tab-content">
			<div id="ong_caracteristiques" class="fade tab-pane">
				<div class="row">
					<div class="col-md-9">
						{{ les_attr_doss.num_doss }}
						{{ les_attr_doss.int_doss }}
						<div class="attribute-wrapper">
							<label class="c-theme">Dossier(s) associé(s)</label>
							<div style="overflow: auto">
								<table class="display table" id="tab_consulter_dossiers_associes">
									<thead>
										<tr>
											<th>N° du dossier</th>
											<th>Maître d'ouvrage</th>
											<th>Date de délibération au maître d'ouvrage</th>
											<th>Programme</th>
											<th>Nature du dossier</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										{% for un_doss_fam in les_doss_fam %}
										<tr{% if un_doss_fam.est_ass == True %} style="background-color: #F8B862;"{% endif %}>
											<td class="b">{{ un_doss_fam.num_doss }}</td>
											<td>{{ un_doss_fam.n_moa }}</td>
											<td>{{ un_doss_fam.dt_delib_moa_doss }}</td>
											<td>{{ un_doss_fam.int_progr }}</td>
											<td>{{ un_doss_fam.int_nat_doss }}</td>
											<td><a href="{% url 'consulter_dossier' un_doss_fam.id_doss %}" class="bt-consulter pull-right"></a></td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
						{{ les_attr_doss.n_org }}
						<div class="row">
							<div class="col-xs-6">{{ les_attr_doss.int_progr }}</div>
							<div class="col-xs-2">{{ les_attr_doss.id_axe }}</div>
							<div class="col-xs-2">{{ les_attr_doss.id_ss_axe }}</div>
							<div class="col-xs-2">{{ les_attr_doss.id_act }}</div>
						</div>
						{% if le_doss.id_progr.int_progr == 'PGRE' %}
						<div class="row">
							<div class="col-xs-6">{{ les_attr_doss.quant_objs_pgre }}</div>
							<div class="col-xs-3">{{ les_attr_doss.quant_real_pgre }}</div>
							<div class="col-xs-3">{{ les_attr_doss.int_unit }}</div>
						</div>
						<div class="row">
							<div class="col-xs-6">{{ les_attr_doss.n_riv }}</div>
							<div class="col-xs-6">{{ les_attr_doss.int_inst_conc }}</div>
						</div>
						{% endif %}
						<div class="row">
							<div class="col-xs-6">{{ les_attr_doss.int_nat_doss }}</div>
							<div class="col-xs-6">{{ les_attr_doss.int_type_doss }}</div>
						</div>
						{{ les_attr_doss.techn }}
						<div class="row">
							<div class="col-xs-6">{{ les_attr_doss.mont_ht_doss }}</div>
							<div class="col-xs-6">{{ les_attr_doss.mont_ttc_doss }}</div>
						</div>
						<div class="row">
							<div class="col-xs-6">{{ les_attr_doss.int_av }}</div>
							<div class="col-xs-6">{{ les_attr_doss.dt_delib_moa_doss }}</div>
						</div>
						<div class="row">
							<div class="col-xs-6">{{ les_attr_doss.int_av_cp }}</div>
							<div class="col-xs-6">{{ les_attr_doss.dt_av_cp_doss }}</div>
						</div>
						{% if le_doss.chem_dds_doss != None %}
						<a href="{{ MEDIA_URL }}{{ le_doss.chem_dds_doss }}" class="bt-pdf icon-link" target="blank">Consulter le fichier scanné du DDS</a>
						<br />
						<br />
						{% endif %}
						{{ les_attr_doss.comm_doss }}
					</div>
					<div class="col-md-3">
						<a href="{% url 'consulter_carto' le_doss.id_doss %}" class="bt-carto icon-link">Gérer/consulter l'objet géographique sur la carte</a>
						<br />
						<br />
						<a href="{% url 'modifier_dossier' le_doss.id_doss %}" class="bt-modifier icon-link">Modifier</a>
						<br />
						<span action="{% url 'consulter_dossier' le_doss.id_doss %}?action=supprimer-dossier" class="bt-supprimer icon-link" id="bt_supprimer_dossier">Supprimer le dossier</span>		
					</div>
				</div>
			</div>
			{% if le_doss.id_av.int_av != 'En projet' %}
			<div id="ong_financements" class="tab-pane fade">
				<div class="row">
					<div class="col-md-12">
						<div class="right">
							<span data-toggle="modal" data-target="#fm_ajouter_financement" class="bt-ajouter icon-link">Ajouter un organisme financier</span>
						</div>
						<div style="overflow: auto;">
							<table class="display table" id="tab_consulter_financements">
								<thead>
									<tr>
										<th>Organisme financier</th>
										<th>Montant HT de participation (en €)</th>
										<th>Date de début d'éligibilité</th>
										<th>Date de fin d'éligibilité</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									{% for un_fin in les_fin %}
									<tr>
										<td>{{ un_fin.n_org }}</td>
										<td>{{ un_fin.mont_ht_tot_subv_fin }}</td>
										<td>{{ un_fin.dt_deb_elig_fin }}</td>
										<td>{{ un_fin.dt_fin_elig_fin }}</td>
										<td><a href="#" class="bt-consulter pull-right"></a></td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						<p class="b c-attention text-center"><span class="u">Reste à financer (en HT) :</span> {{ mont_ht_raf }} € sur {{ mont_ht_doss }} € du dossier</p>
					</div>
				</div>
			</div>
			<div id="ong_prestations" class="fade tab-pane">
				<div class="row">
					<div class="col-md-12">
						<div class="right">
							<span data-toggle="modal" data-target="#fm_ajouter_prestation" class="bt-ajouter icon-link">Ajouter/relier une prestation</span>
						</div>
						<div style="overflow: auto;">
							<table class="display table" id="tab_consulter_prestations">
								<thead>
									<tr>
										<th>Entreprise</th>
										<th>Montant HT de la prestation (en €)</th>
										<th>Nombre d'avenants</th>
										<th>Somme HT des avenants (en €)</th>
										<th>Somme HT des factures émises (en €)</th>
										<th>Montant HT disponible de la prestation (en €)</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									{% for une_prest_doss in les_prest_doss %}
										<tr>
											<td>{{ une_prest_doss.n_org }}</td>
											<td>{{ une_prest_doss.mont_ht_prest }}</td>
											<td>{{ une_prest_doss.nb_aven }}</td>
											<td>{{ une_prest_doss.mont_ht_aven_sum }}</td>
											<td>{{ une_prest_doss.mont_ht_fact_sum }}</td>
											<td>{{ une_prest_doss.mont_ht_rap }}</td>
											<td>
												<div class="pull-right">
													<span class="bt-ajouter icon-link" style="margin-right: 5px;" data-target="#fm_ajouter_avenant" action="{% url 'consulter_dossier' le_doss.id_doss %}?action=afficher-form-avenant&prestation={{ une_prest_doss.id_prest }}">Avenant</span>
													<a href="{% url 'consulter_prestation' une_prest_doss.id_prest %}" class="bt-consulter" style="padding-left: 20px; line-height: 22px;" title="Consulter la prestation"></a>
												</div>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						<p class="b c-attention text-center"><span class="u">Reste à engager pour ce dossier (en HT) :</span> {{ mont_ht_rau }} €</p>
					</div>
				</div>
			</div>
			<div id="ong_factures" class="fade tab-pane">
				<div class="row">
					<div class="col-md-12">
						<div class="right">
							<span data-toggle="modal" data-target="#fm_ajouter_facture" class="bt-ajouter icon-link">Ajouter une facture</span>
						</div>
						<div style="overflow: auto;">
							<table class="display table" id="tab_consulter_factures">
								<thead>
									<tr>
										<th>Prestation</th>
										<th>Numéro de facture</th>
										<th>Date de mise en paiement</th>
										<th>Montant HT (en €)</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									{% for une_fact_doss in les_fact_doss %}
										<tr>
											<td>{{ une_fact_doss.prest }}</td>
											<td>{{ une_fact_doss.num_fact }}</td>
											<td>{{ une_fact_doss.dt_mand_moa_fact }}</td>
											<td>{{ une_fact_doss.mont_ht_fact }}</td>				
											<td><a href="#" class="bt-consulter pull-right"></a></td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div id="ong_demandes_versements" class="fade tab-pane">
				<div class="row">
					<div class="col-md-12">
						<div class="right">
							<span class="bt-ajouter icon-link">Ajouter une demande de versement</span>
						</div>
						<div style="overflow: auto;">
							<table class="display table" id="tab_consulter_demandes_versement">
								<thead>
									<tr>
										<th>Organisme financier</th>
										<th>Intitulé</th>
										<th>Montant demandé</th>
										<th>Date de demande de versement</th>
										<th>Date de réception</th>
										<th>Montant restant à demander</th>
										<th></th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
			<div id="ong_reglementations" class="fade tab-pane">
				<div class="row">
					<div class="col-md-12">
						{{ les_arr | safe }}
						<form method="post" action="{% url 'modifier_dossier' le_doss.id_doss %}?action=modifier-reglementations" class="c-theme" name="form_modifier_dossier">
							{% csrf_token %}
							{{ f1.zs_comm_regl_doss }}
							<button type="submit" class="bt-vert btn center-block to-unfocus" data-target="#fm_modifier_dossier">Mettre à jour le commentaire</button>
						</form>
					</div>
				</div>
			</div>
			<div id="ong_photos" class="fade tab-pane">
				<div class="row">
					<div class="col-md-12">
						<div class="right">
							<span data-toggle="modal" data-target="#fm_ajouter_photo" class="bt-ajouter icon-link">Ajouter une photo</span>
						</div>
						<div style="overflow: auto;">
							<table class="display table" id="tab_consulter_photos">
								<thead>
									<tr>
										<th>Visualisation</th>
										<th>Intitulé</th>
										<th>Période de la prise de vue</th>
										<th>Date de la prise de vue</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									{% for une_ph in les_ph %}
									<tr>
										<td><img src="{{ MEDIA_URL }}{{ une_ph.chem_ph }}" width="100" data-target="#fm_afficher_photo" action="{% url 'consulter_dossier' le_doss.id_doss %}?action=afficher-photo&photo={{ une_ph.id_ph }}" title="Consulter la photo"></td>
										<td>{{ une_ph.int_ph }}</td>
										<td>{{ une_ph.int_ppv_ph }}</td>
										<td>{{ une_ph.dt_pv_ph }}</td>
										<td>
											<span class="bt-supprimer pointer pull-right" data-target="#fm_supprimer_photo" action="{% url 'consulter_dossier' le_doss.id_doss %}?action=supprimer-photo&photo={{ une_ph.id_ph }}" title="Supprimer la photo"></span>
											<a href="{% url 'modifier_photo' une_ph.id_ph %}" class="bt-modifier pull-right" title="Modifier la photo" style="margin-right: 5px;"></a>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div id="ong_cartographie" class="fade tab-pane"></div>
		</div>
	</div>
</div>
{% endblock content %}