{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<form action="{% url 'creer_dossier' %}" method="post" name="form_creer_dossier" class="alert-user c-theme" enctype="multipart/form-data">
			{% csrf_token %}
			<fieldset>
				<legend>Créer un dossier</legend>
				<div class="form-content">
					<div class="row">
						<div class="col-sm-6">
							<div class="field-wrapper">
								<p>Ce dossier est-il lié à un autre dossier ?</p>
								<label class="c-police radio-inline">
									<input type="radio" name="rb_doss_ass" value="1" data-toggle="modal" data-target="#fm_choisir_dossier_associe">Oui
								</label>
								<label class="c-police radio-inline">
									<input type="radio" name="rb_doss_ass" value="0" checked>Non
								</label>
							</div>
						</div>
						<div class="col-sm-6">{{ f1.za_doss_ass }}</div>
					</div>
					{{ f1.zl_org_moa }}
					<div class="row">
						<div class="col-sm-6">{{ f1.zld_progr }}</div>
						<div class="col-sm-2">{{ f1.zld_axe }}</div>
						<div class="col-sm-2">{{ f1.zld_ss_axe }}</div>
						<div class="col-sm-2">{{ f1.zld_act }}</div>
					</div>
					<div id="za_form_pgre" style="display: none;">
						<div class="row">
							<div class="col-sm-6">{{ f1.zs_quant_objs_pgre }}</div>
							<div class="col-sm-3">{{ f1.zs_quant_real_pgre }}</div>
							<div class="col-sm-3">{{ f1.zl_unit }}</div>
						</div>
						<div class="row">
							<div class="col-sm-6">{{ f1.cbsm_riv }}</div>
							<div class="col-sm-6">{{ f1.zl_port }}</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">{{ f1.zl_nat_doss }}</div>
						<div class="col-sm-6">{{ f1.zld_type_doss }}</div>
					</div>
					<div class="row">
						<div class="col-sm-6">{{ f1.zs_terr_doss }}</div>
						<div class="col-sm-6">{{ f1.zs_ld_doss }}</div>
					</div>
					{{ f1.zl_techn }}
					<div class="row">
						<div class="col-sm-6">{{ f1.zs_mont_ht_doss }}</div>
						<div class="col-sm-6">{{ f1.zs_mont_ttc_doss }}</div>
					</div>
					<div class="row">
						<div class="col-sm-6">{{ f1.zl_av }}</div>
						<div class="col-sm-6">{{ f1.zd_dt_delib_moa_doss }}</div>
					</div>
					<div class="row">
						<div class="col-sm-6">{{ f1.zl_av_cp }}</div>
						<div class="col-sm-6">{{ f1.zd_dt_av_cp_doss }}</div>
					</div>
					{{ f1.zu_chem_dds_doss }}
					{{ f1.zs_comm_doss }}
				</div>
				<button type="submit" class="bt-vert btn center-block" data-target="#fm_creer_dossier">Valider</button>
				<br />
				<div class="b c-attention text-center" style="font-size: 12px;">
					**
					<br />
					La date de délibération au maître d'ouvrage doit être renseignée lorsque l'état d'avancement choisi est différent de "En projet".
					<br />
					La date de l'avis du comité de programmation doit être renseignée lorsque l'avis du comité de programmation est différent de "En attente" ou de "Sans objet".
				</div>
			</fieldset>
		</form>						
	</div>
</div>
{% endblock content %}