{% extends 'template.html' %}
{% load static %}

{% block content %}
<div class="row thumbnails-row">
	<div class="col-md-6">
		<a class="my-thumbnail" href="{% url 'cr_doss' %}">
			<img src="{% static './pics/thumbnails/gestion_dossiers/insert.png' %}">
			<div>Créer un dossier</div>
		</a>
	</div>
	<div class="col-md-6">
		<a class="my-thumbnail" href="{% url 'ch_doss' %}">
			<img src="{% static './pics/thumbnails/gestion_dossiers/select.png' %}">
			<div>Consulter un dossier</div>
		</a>
	</div>
</div>
{% endblock content %}