{% extends './main.html' %}
{% load static %}

{% block content %}
<div class="row">
	<div class="col-sm-6 saut-sm">
		<a href="{% url 'creer_dossier' %}" class="thumbnail to-unfocus">
			<img src="{% static './images/pictos/gestion_dossiers/ajouter.png' %}" class="vignette-md"/>
			<div class="caption">Créer un dossier</div>
		</a>
	</div>
	<div class="col-sm-6">
		<a href="{% url 'choisir_dossier' %}" class="thumbnail to-unfocus">
			<img src="{% static './images/pictos/gestion_dossiers/consulter.png' %}" class="vignette-md"/>
			<div class="caption">Consulter un dossier</div>
		</a>
	</div>
</div>
{% endblock content %}