{% extends 'template.html' %}
{% load static %}

{% block content %}
<div class="row">
	<div class="col-md-12 right">
		<a href="{% url 'cons_fin' f.pk %}" class="icon-link previous-icon">Revenir au financement</a>
	</div>
</div>
<form action="" enctype="multipart/form-data" method="post" name="f_modif_fin" onsubmit="soum_f(event)">
	{% csrf_token %}
	<fieldset class="my-fieldset">
		<legend>Modifier un financement</legend>
		<div>
			{{ f_modif_fin.za_num_doss }}
			{{ f_modif_fin.id_org_fin }}
			{{ f_modif_fin.num_arr_fin }}
			<div class="row">
				<div class="col-sm-6">{{ f_modif_fin.mont_elig_fin }}</div>
				<div class="col-sm-6">{{ f_modif_fin.pourc_elig_fin }}</div>
			</div>
			{{ f_modif_fin.mont_part_fin }}
			{{ f_modif_fin.dt_deb_elig_fin }}
			<div class="row">
				<div class="col-sm-6">{{ f_modif_fin.duree_valid_fin }}</div>
				<div class="col-sm-6">{{ f_modif_fin.duree_pror_fin }}</div>
			</div>
			{{ f_modif_fin.dt_lim_deb_oper_fin }}
			{{ f_modif_fin.a_inf_fin }}
			<div class="row">
				<div class="col-sm-6">{{ f_modif_fin.dt_lim_prem_ac_fin }}</div>
				<div class="col-sm-6">{{ f_modif_fin.id_paiem_prem_ac }}</div>
			</div>
			{{ f_modif_fin.pourc_real_fin }}
			{{ f_modif_fin.dt_decision_aide_fin }}
			{{ f_modif_fin.chem_pj_fin }}
			{{ f_modif_fin.comm_fin }}
			<button class="center-block green-btn my-btn" type="submit">Valider</button>
		</div>
		<div class="form-remark">
			<ul class="my-list-style">
				<li>Le montant de l'assiette éligible de la subvention et le pourcentage de l'assiette éligible peuvent ne pas être renseignés, mais si l'un d'entre eux est renseigné, alors l'autre doit l'être également.</li>
				<li>La date de début d'éligibilité doit être renseignée si une durée de validité de l'aide ou une durée de prorogation est renseignée.</li>
				<li>Si la date limite du début de l'opération est renseignée, alors seules les options "Oui" et "Non" de la liste déroulante suivant le champ en question seront valides. Dans le cas contraire, seule l'option "Sans objet" sera valide.</li>
				<li>Il est impossible de renseigner un pourcentage de réalisation des travaux tant que le premier acompte n'est pas payé en fonction de celui-ci.</li>
			</ul>
		</div>
	</fieldset>
</form>
{% endblock content %}