{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="right">
	<a href="{% url 'consulter_dossier' le_doss.id_doss %}" onclick="alert_util(event)" class="bt-precedent icon-link">Revenir au dossier</a>
</div>
<div class="row">
	<div class="col-md-12">
		<form action="{% url 'modifier_arrete' le_doss.id_doss l_arr.id_type_decl %}" method="post" name="form_modifier_arrete" class="alert-user c-theme" enctype="multipart/form-data">
			{% csrf_token %}
			<fieldset>
				<legend>Modifier un arrêté</legend>
				<div class="form-content">
					<div class="row">
						<div class="col-xs-6">{{ f1.za_num_doss }}</div>
						<div class="col-xs-6">{{ f1.zl_type_decl }}</div>
					</div>
					{{ f1.zl_type_av_arr }}
					{{ f1.zs_num_arr }}
					{{ f1.zd_dt_sign_arr }}
					{{ f1.zd_dt_lim_encl_trav_arr }}
					{{ f1.zu_chem_pj_arr }}
					{{ f1.za_chem_pj_arr }}
					{{ f1.zs_comm_arr }}
				</div>
				<button type="submit" class="bt-vert btn center-block" data-target="#fm_modifier_arrete">Valider</button>
				<br />
				<div class="b c-attention text-center" style="font-size: 12px;">
					**
					<br />
					Le numéro de l'arrêté, la date de signature de l'arrêté ainsi que la date limite d'enclenchement des travaux de l'arrêté sont obligatoires si l'avancement de l'arrêté est "Validé".
				</div>
			</fieldset>
		</form>						
	</div>
</div>
{% endblock content %}