{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="icon-link pull-right">
	<div><span class="bt-precedent"></span></div>
	<div><a href="{% url 'consulter_dossier' le_doss.id_doss %}">Revenir au dossier</a></div>
</div>
<br />
<div class="row">
	<div class="col-md-12">
		<form action="{% url 'modifier_photo' la_ph.id_ph %}" method="post" name="form_modifier_photo" class="alert-user c-theme" enctype="multipart/form-data">
			{% csrf_token %}
			<fieldset>
				<legend>Modifier une photo</legend>
				<div class="form-content">
					{{ f1.za_num_doss }}
					<div class="row">
						<div class="col-sm-6">{{ f1.zs_int_ph }}</div>
						<div class="col-sm-6">{{ f1.zs_descr_ph }}</div>
					</div>
					{{ f1.zl_ppv_ph }}
					{{ f1.zd_dt_pv_ph }}
					{{ f1.zu_chem_ph }}
					{{ f1.za_chem_ph }}
				</div>
				<button type="submit" class="bt-vert btn center-block" data-target="#fm_modifier_photo">Valider</button>
			</fieldset>
		</form>	
	</div>
</div>
{% endblock content %}