{% extends 'template.html' %}
{% load static %}

{% block content %}
<div class="row">
	<div class="col-md-12 right">
		<a href="{% url 'cons_ddv' d.pk %}" class="icon-link previous-icon">Revenir à la demande de versement</a>
	</div>
</div>
<form action="" enctype="multipart/form-data" method="post" name="f_ger_ddv" onsubmit="soum_f(event)">
	{% csrf_token %}
	<fieldset class="my-fieldset">
		<legend>Modifier une demande de versement</legend>
		<div>
			{{ f_modif_ddv.za_num_doss }}
			{{ f_modif_ddv.zl_fin }}
			{{ f_modif_ddv.id_type_vers }}
			{{ f_modif_ddv.int_ddv }}
			{{ f_modif_ddv.cbsm_fact }}
			<div class="row">
				<div class="col-md-6">{{ f_modif_ddv.mont_ht_ddv }}</div>
				<div class="col-md-6">{{ f_modif_ddv.mont_ttc_ddv }}</div>
			</div>
			<div class="row">
				<div class="col-sm-6">{{ f_modif_ddv.dt_ddv }}</div>
				<div class="col-sm-6">{{ f_modif_ddv.dt_vers_ddv }}</div>
			</div>
			<div class="row">
					<div class="col-sm-6">{{ f_modif_ddv.num_bord_ddv }}</div>
					<div class="col-sm-6">{{ f_modif_ddv.num_titre_rec_ddv }}</div>
				</div>
			<div class="row">
				<div class="col-sm-6">{{ f_modif_ddv.mont_ht_verse_ddv }}</div>
				<div class="col-sm-6">{{ f_modif_ddv.mont_ttc_verse_ddv }}</div>
			</div>
			{{ f_modif_ddv.chem_pj_ddv }}
			{{ f_modif_ddv.comm_ddv }}
			<button class="center-block green-btn my-btn" type="submit">Valider</button>
			<div class="form-remark">
				<ul class="my-list-style">
					<li>Il est impossible de renseigner un numéro de bordereau et un numéro de titre de recette tant qu'une date de versement n'a pas été renseignée.</li>
				</ul>
			</div>
		</div>
	</fieldset>
</form>
{% endblock content %}