{% extends 'template.html' %}
{% load static %}

{% block content %}
<div class="row">
	<div class="col-md-12 right">
		<a href="{% url 'cons_prest' pd.pk %}" class="icon-link previous-icon">Revenir à la prestation</a>
	</div>
</div>
<form action="" enctype="multipart/form-data" method="post" name="f_modif_prest" onsubmit="soum_f(event)">
	{% csrf_token %}
	<fieldset class="my-fieldset">
		<legend>Modifier une prestation</legend>
		<div>
			{{ f_modif_prest.zsac_siret_org_prest }}
			{{ f_modif_prest.int_prest }}
			{{ f_modif_prest.ref_prest }}
			<div class="attribute-wrapper">
				<span class="attribute-label">Dossier(s) relié(s) à la prestation</span>
				<div class="my-table" id="t_modif_prest_doss">
					<table>
						<thead>
							<tr>
								<th>N° du dossier</th>
								<th>Montant {{ ht_ou_ttc }} de la prestation (en €)</th>
								<th>Somme {{ ht_ou_ttc }} des avenants (en €)</th>
								<th>Somme {{ ht_ou_ttc }} des factures émises (en €)</th>
								<th>Reste à engager {{ ht_ou_ttc }} pour le dossier (en €)</th>
							</tr>
						</thead>
						<tbody>{{ t_lg | safe }}</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">{{ f_modif_prest.dt_notif_prest }}</div>
				<div class="col-sm-6">{{ f_modif_prest.dt_fin_prest }}</div>
			</div>
			{{ f_modif_prest.id_nat_prest }}
			{{ f_modif_prest.chem_pj_prest }}
			{{ f_modif_prest.comm_prest }}
			<button class="center-block green-btn my-btn" type="submit">Valider</button>
		</div>
	</fieldset>
</form>
{% endblock content %}