{% load static %}
{% load leaflet_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="author" content="MAYSONA"/>
		<title>STYX 2.0 - {{ title }}</title>
		<!-- J'inclus le fichier nécessaire au bon fonctionnement de Bootstrap. -->
		<link rel="stylesheet" type="text/css" href="{% static './vendors/bootstrap/css/bootstrap.css' %}">
		<script type="text/javascript" src="{% static './vendors/bootstrap/js/jquery.js' %}"></script>
		<script type="text/javascript" src="{% static './vendors/bootstrap/js/bootstrap.js' %}"></script>
		<!-- J'inclus les feuilles de styles des bibliothèques utilisées. -->
		<link rel="stylesheet" href="{% static './vendors/bootstrap-datepicker-master/css/bootstrap-datepicker.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static './vendors/jquery-typeahead-2.7.2/dist/jquery.typeahead.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static './vendors/DataTables/css/jquery.dataTables.css' %}">
		<!--  Tags django-leaflet pour la carto -->
		{% leaflet_js %}
    	{% leaflet_css %}
		<!--  Scripts et libs nécessaires à la carto -->
		<script type="text/javascript" src="{% static './vendors/leaflet.draw/leaflet.draw-custom.js' %}"></script>
		<script type="text/javascript" src="{% static './vendors/leaflet.easybutton/easy-button.js' %}"></script>
		<script type="text/javascript" src="{% static './js/scripts_carto.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static './vendors/leaflet.draw/leaflet.draw.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static './vendors/leaflet.easybutton/easy-button.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static './vendors/font-awesome-4.7.0/css/font-awesome.min.css' %}">
		<!-- J'inclus les feuilles de styles du modèle de l'application. -->
		<link rel="stylesheet" type="text/css" href="{% static './css/templates/base.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static './css/templates/app.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static './css/classes.css' %}">
		<!-- J'inclus la feuille de style de l'application. -->
		<link rel="stylesheet" type="text/css" href="{% static './css/styles.css' %}">
	</head>
	<body style="background-color: white;">
		<div id="loader_page" class="text-center">
			<span class="glyphicon glyphicon-refresh spin"></span>
			<br />
			Chargement de la page
		</div>
		<div class="container-fluid" style="display: none;">
			<div class="row" id="header">
				<img src="{% static './images/logos/styx.png' %}"/>
			</div>
			<div class="row" id="menu_principal">
				<nav class="navbar navbar-default">
					<div class="navbar-header">
						{% if user.is_authenticated %}
						<button type="button" class="collapsed navbar-toggle to-unfocus" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						{% endif %}
						<a class="alert-user navbar-brand glyphicon glyphicon-home to-unfocus" href="{% url 'index' %}"></a>
					</div>
					<div id="navbar" class="collapse navbar-collapse">
						{% if user.is_authenticated %}
						<ul class="nav navbar-nav">
							<li><a href="{% url 'portail_carto' %}" class="alert-user to-unfocus">Portail cartographique</a></li>
							<li><a href="{% url 'gestion_dossiers' %}" class="alert-user to-unfocus">Gestion des dossiers</a></li>
							<li><a href="{% url 'realisation_etats' %}" class="alert-user to-unfocus">Réalisation d'états</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
								<a data-toggle="dropdown" class="dropdown-toggle glyphicon glyphicon-user to-unfocus" href="#"></a>
								<span class="dropdown-menu" style="min-width: 300px; background-color: #EBF0F7; border-top: solid 1px #CCC; border-bottom: solid 1px #CCC;">
									<p class="b c-theme-fonce text-center">{{ user.first_name }} {{ user.last_name }}</p>
									<br />
									<div class="row">
										<div class="col-xs-6">
											<a href="{% url 'consulter_compte' %}" class="dropdown-thumbnail to-unfocus">
												<img src="{% static './images/pictos/autres/options.png' %}" class="vignette-xs" title="Consulter mon compte">
											</a>
										</div>
										<div class="col-xs-6">
											<a href="{% url 'deconnecter' %}" class="dropdown-thumbnail to-unfocus">
												<img src="{% static './images/pictos/autres/deconnecter.png' %}" class="vignette-xs" title="Se déconnecter">
											</a>
										</div>
									</div>
								</span>
							</li>
						</ul>
						{% endif %}
					</div>
				</nav>
			</div>
			<div id="content">
				{% block content %}{% endblock content %}
			</div>
			<div class="row" id="pre-footer"></div>
			<div class="row" id="footer">
				<div class="col-md-5 colonne-footer">
					<a href="http://www.smmar.org/" target="blank" class="to-unfocus">
						<img src="{% static './images/logos/smmar.png' %}"/>
					</a>
				</div>
				<div class="col-md-7 colonne-footer">
					<a href="http://www.regionlrmp.fr/" target="blank" class="to-unfocus">
						<img src="{% static './images/logos/europe.jpg' %}"/>
						<img src="{% static './images/logos/ue.jpg' %}"/>
						<img src="{% static './images/logos/region_occitanie.jpg' %}"/>
					</a>
					<a href="http://www.gouvernement.fr/" target="blank" class="to-unfocus">
						<img src="{% static './images/logos/etat.jpg' %}"/>
					</a>
					<a href="http://www.eaurmc.fr/" target="blank" class="to-unfocus">
						<img src="{% static './images/logos/aermc.jpg' %}"/>
					</a>
					<a href="http://www.iut-perpignan.fr/formations-iut-perpignan/statistique-et-traitement-informatique-des-donnees/iut-stid-perpignan.html" target="blank" class="to-unfocus">
						<img src="{% static './images/logos/iut_stid.jpg' %}"/>
					</a>
				</div>
			</div>
			{% for une_fm in les_fm %}
				{{ une_fm }}
			{% endfor %}
		</div>
		<!-- J'inclus les scripts des bibliothèques utilisées. -->
		<script type="text/javascript" src="{% static './vendors/bootstrap-datepicker-master/js/bootstrap-datepicker.js' %}"></script>
		<script type="text/javascript" src="{% static './vendors/bootstrap-datepicker-master/locales/bootstrap-datepicker.fr.min.js' %}"></script>
		<script type="text/javascript" src="{% static './vendors/jquery-typeahead-2.7.2/dist/jquery.typeahead.min.js' %}"></script>
		<script type="text/javascript" src="{% static './vendors/DataTables/js/jquery.dataTables.js' %}"></script>
		<!-- J'inclus mes scripts JavaScript. -->
		<script type="text/javascript">

			const URL_APP_NAV = '{% url 'retourner_onglet_actif' %}';
			const URL_AUTOCOMPL = '{% url 'autocompleter' %}';
			
		</script>
		<script type="text/javascript" src="{% static './js/initialisations.js' %}"></script>
		<script type="text/javascript" src="{% static './js/fonctions.js' %}"></script>
		<script type="text/javascript" src="{% static './js/scripts.js' %}"></script>
	</body>
</html>
