{% load static %}
{% load leaflet_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="author" content="SMMAR">
		<meta name="rights" content="SMMAR">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>STYX 2.0 - {{ title }}</title>
		<link rel="icon" type="image/png" href="{% static './pics/icons/favicon.png' %}"/>
		<script type="text/javascript">

			// Je déclare mes options personnelles.
			{% for c in consts_str %}
			const {{ c.0 }} = '{{ c.1 }}';
			{% endfor %}
			{% for c in consts_int %}
			const {{ c.0 }} = {{ c.1 }};
			{% endfor %}

			// J'initialise la variable vérifiant l'accès en écriture.
			{% if forbidden == True or forbidden == None %}
			var forbidden = false;
			{% else %}
			var forbidden = true;
			{% endif %}

			// J'initialise les URLS utilisées dans les fichiers JS du dossier "static".
			const URL_AUTOCOMPL = '{% url 'autocompl' %}';

		</script>
		<!-- Inclusion de la bibliothèque jQuery -->
		<script type="text/javascript" src="{% static './vendors/bootstrap/js/jquery.js' %}"></script>
		<!-- Inclusion du framework Bootstrap -->
		<link rel="stylesheet" type="text/css" href="{% static './vendors/bootstrap/css/bootstrap.css' %}">
		<script type="text/javascript" src="{% static './vendors/bootstrap/js/bootstrap.js' %}"></script>
		<!-- Inclusion de la bibliothèque Font Awesome -->
		<link rel="stylesheet" type="text/css" href="{% static './vendors/font-awesome-4.7.0/css/font-awesome.min.css' %}">
		<!-- Inclusion de la bibliothèque DataTables -->
		<link rel="stylesheet" type="text/css" href="{% static './vendors/DataTables/css/jquery.dataTables.css' %}">
		<script type="text/javascript" src="{% static './vendors/DataTables/js/jquery.dataTables.js' %}"></script>
		<!-- Inclusion de la bibliothèque jQuery Typeahead -->
		<link rel="stylesheet" type="text/css" href="{% static './vendors/jquery-typeahead-2.7.6/dist/jquery.typeahead.min.css' %}">
		<script type="text/javascript" src="{% static './vendors/jquery-typeahead-2.7.6/dist/jquery.typeahead.min.js' %}"></script>
		<!-- Inclusion de la bibliothèque Leaflet -->
		{% leaflet_js %}
    	{% leaflet_css %}
    	<script type="text/javascript" src="{% static './vendors/leaflet.draw/leaflet.draw-custom.js' %}"></script>
    	<link rel="stylesheet" type="text/css" href="{% static './vendors/leaflet.draw/leaflet.draw.css' %}">
		<script type="text/javascript" src="{% static './vendors/leaflet.easybutton/easy-button.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static './vendors/leaflet.easybutton/easy-button.css' %}">
		<script type="text/javascript" data-key="pb5uiemi0eqc028c50fuw7fi" src="{% static './vendors/geoportail/GpPluginLeaflet.js' %}"></script>
		<!-- Inclusion de mon script carto personnalisé -->
		<script type="text/javascript" src="{% static './js/scripts_carto.js' %}"></script>
		<!-- Inclusion de la bibliothèque bootstrap-datepicker -->
		<link rel="stylesheet" type="text/css" href="{% static './vendors/bootstrap-datepicker-1.6.4/css/bootstrap-datepicker.min.css' %}">
		<script type="text/javascript" src="{% static './vendors/bootstrap-datepicker-1.6.4/js/bootstrap-datepicker.min.js' %}"></script>
		<script type="text/javascript" src="{% static './vendors/bootstrap-datepicker-1.6.4/locales/bootstrap-datepicker.custom-fr.js' %}"></script>
		<!-- Inclusion de la bibliothèque Flot -->
		<script type="text/javascript" src="{% static './vendors/flot/jquery.flot.js' %}"></script>
		<script type="text/javascript" src="{% static './vendors/flot/jquery.flot.time.js' %}"></script>
		<script type="text/javascript" src="{% static './vendors/flot/jquery.flot.resize.js' %}"></script>
		<!-- Inclusion de mes feuilles de style personnalisées -->
		<link rel="stylesheet" type="text/css" href="{% static './css/template.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static './css/styles.css' %}">
	</head>
	<body>
		<div class="container-fluid">
			<div class="row" id="header">
				<nav class="navbar">
					<div class="navbar-header">
						{% if user.is_authenticated %}
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						{% endif %}
						<a class="navbar-brand" href="{% url 'index' %}" title="Revenir sur la page principale">
							<img src="{% static './pics/logos/styx.png' %}">
						</a>
					</div>
					{% if user.is_authenticated %}
					<div id="navbar" class="collapse navbar-collapse">
						{{ navbar | safe }}
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="{% url 'alert' %}"><span class="my-badge" style="background-color: {{ badge_color }};"></span></a>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">
									<span class="fa fa-lg fa-user-o"></span>
									{{ user.first_name }} {{ user.last_name }}
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li><a href="{% url 'cons_util' %}">Consulter mon compte</a></li>
									{% if user.is_staff == True and user.is_superuser == True %}
									<li><a href="/admin/">Accéder au site d'administration de STYX 2.0</a></li>
									{% endif %}
									<li><a href="{% url 'deconnect' %}">Se déconnecter</a></li>
									<li class="dropdown-divider"><a href="{% url 'assist' %}">Assistance</a></li>
								</ul>
							</li>
						</ul>
					</div>
					{% endif %}
				</nav>
			</div>
			<div id="content" class="form-root">
				{% block content %}{% endblock content %}
			</div>
			<div class="row" id="footer">
				<div class="col-md-5 footer-col">
					<img src="{% static './pics/logos/smmar.png' %}">
					<img src="{% static './pics/logos/aude.png' %}">
				</div>
				<div class="col-md-7 footer-col">
					<img src="{% static './pics/logos/europe.jpg' %}">
					<img src="{% static './pics/logos/ue.jpg' %}">
					<img src="{% static './pics/logos/region_occitanie.jpg' %}">
					<img src="{% static './pics/logos/etat.jpg' %}">
					<img src="{% static './pics/logos/aermc.jpg' %}">
					<img src="{% static './pics/logos/iut_stid.jpg' %}">
					<img src="{% static './pics/logos/neogeo.png' %}">
				</div>
			</div>
			{% for fm in t_fm %}
				{{ fm }}
			{% endfor %}
		</div>
		<!-- Inclusion de mes scripts personnalisés -->
		<script type="text/javascript" src="{% static './js/classes/MyDataTable.js' %}"></script>
		<script type="text/javascript" src="{% static './js/functions.js' %}"></script>
		<script type="text/javascript" src="{% static './js/scripts.js' %}"></script>
	</body>
</html>